.gradient {
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, #430069, #080020);
  overflow: hidden;
  position: relative;
}

.gradient svg {
  display: none;
}

.blobsContainer {
  width: 100%;
  height: 100%;
  filter: url(#svgFilter1) blur(50px);
}

.blobsContainer div {
  position: absolute;
  mix-blend-mode: hard-light;
}

.blob1, .blob2, .blob3, .blob4 {
  width: 80%;
  height: 80%;
}

.blob1 {
  background: radial-gradient(circle at center, #1271FFCC 0, transparent 50%);
  top: 10%;
  left: 10%;
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
}

.blob2 {
  background: radial-gradient(circle at center, #DD4AFFCC 0, transparent 50%);
  top: 10%;
  left: 10%;
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
}

.blob3 {
  background: radial-gradient(circle at center, #64DCFFCC 0, transparent 50%);
  top: calc(10% + 200px);
  left: calc(10% - 500px);
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;
}

.blob4 {
  background: radial-gradient(circle at center, #C83232CC 0, transparent 50%);
  top: 10%;
  left: 10%;
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;
  opacity: 0.7;
}

.blob5 {
  background: radial-gradient(circle at center, #B4B432CC 0, transparent 50%);
  width: 160%;
  height: 160%;
  top: -30%;
  left: -30%;
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;
}

.cursorBlob {
  background: radial-gradient(circle at center, #8C64FF 0, transparent 25%);
  width: 100%;
  height: 100%;
  opacity: 0.75;
  scale: 1.25 1;
  animation: animateCursorBlob 3s linear infinite;
}

@keyframes animateCursorBlob {
  0% { scale: 1.25 1; }
  50% { scale: 1 1.25; }
}

@keyframes moveInCircle {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

@keyframes moveVertical {
  0% { transform: translateY(-50%); }
  50% { transform: translateY(50%); }
  100% { transform: translateY(-50%); }
}

@keyframes moveHorizontal {
  0% { transform: translateX(-50%) translateY(-10%); }
  50% { transform: translateX(50%) translateY(10%); }
  100% { transform: translateX(-50%) translateY(-10%); }
}